
.promotion-title {
    animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.card:hover {
    transform: translateY(-4px);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}






body, html {
    height: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
}

.container {
    overflow: hidden;
    position: relative;
}

.slider {
    animation: slidein 5s linear infinite ;
    display: flex;
    flex-wrap: nowrap;
    animation-delay: 0s; /* Delay the start of the animation by 30 seconds */
    transform: translateX(-100%); /* Start the carousel from the left edge */
}

.logos {
    width: calc(100% / 5);
    display: inline-block;
    margin: 0;
    text-align: center; /* Center icons horizontally */
}

.fab {
    width: 100%;
    animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

@keyframes slidein {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}





