h2{
    color: white;
    text-align: center;
}

.mainContainer{
    margin: 10px;
}

.mainContainer .container{
    padding: 10px 0;

}

div h3{
    color: white;
    font-weight: bold;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}